[REPORTS]
include-ids = yes
output-format = colorized
reports = no

[BASIC]
good-names = i,j,k,ex,Run,_,f
bad-functions=apply,input

[MESSAGES CONTROL]
# I0011: "Locally disabling ${msg}"
# W0142: "Used * or ** magic"
disable = I0011,W0142
